body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


p{
  font-family: 'Montserrat', sans-serif;
}

/* Design Navbar */
.nav-item a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
  transition: all 0.4s;
  font-family: 'Montserrat', sans-serif;
}
.nav-item a:hover{
  color: rgb(20, 219, 20);
}
.navbar-brand{
  height: 50px;
  width: 100px;
}
.search{
  height: 45px;
  outline: none;
  border: 3px solid rgb(20, 219, 20);
  background-color: transparent;
  border-radius:20px 0px 0px 20px;
  border-right: none;
}
.btn1{
  height: 45px;
  outline: none;
  border: none;
  background-color: rgb(20, 219, 20);
  color: white;
  border-radius: 0px 20px 20px 0px;
  transition: all 0.4s;
}
.btn1:hover{
  background-color: rgb(20, 219, 20);
}
.navbar-toggler{
  font-size: 23px;
  color: black;
}
.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}

/* Design Top */
.main{
  background-image: url(imgs/m1.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.main h1{
  font-size: 5rem;
  font-family: 'Righteous', cursive;
}
.main p:nth-child(1){
  font-size: 18px;
  font-weight: 500;
  padding-top: 100px;
}
.main p:nth-child(2){
  font-size: 18px;
  color: grey;
}
.mbtn1{
  height: 50px;
  width: 25%;
  outline: none;
  border: none;
  color: white;
  background: rgb(20, 219, 20);
  border-radius: 50px;
  transition: all 0.4s;
}
.mbtn1:hover{
  background-color: rgb(20, 219, 20);
}
.line{
  height: 5px;
  width: 75%;
  background: rgb(20, 219, 20);
  display: inline-block;
}

/* Design Product */
.welcome{
  background-color: rgb(20, 219, 20);
}
.welcome h1{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}
.line2{
  height: 5px;
  width: 70%;
  background: white;
  display: inline-block;
}

/* Design Review */
.review h1{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}
.review p:nth-child(1){
  font-size: 18px;
  font-weight: 500;
  padding-top: 100px;
}
.review p:nth-child(2){
  font-size: 18px;
  color: grey;
}

.star{
  text-align: end;
  color: orange;
}
.review .card{
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.review .card-body{
  border: 1px dashed rgb(202, 200, 200);
}
.head1{
  font-weight: 500;
  margin: 0;
}
.mid1{
  color: rgb(112, 91, 91);
}
.btnc{
  height: 50px;
  width: 50%;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(20, 219, 20);
  border-radius: 50px;
  margin: 0 auto;
  display: block;
  transition: all 0.4s;
}
.btnc:hover{
  outline: none;
  border: 1px solid rgb(20, 219, 20);
  background: transparent;
  border-radius: 50px;
}

/* Design Employees */
.employ{
  background-color: rgb(20, 219, 20);
}
.employ h2{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}

.employ i{
  color: orange;
}
.employ .card{
  border-radius: 0;
  border: none;
}
